* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    background: #003049;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 90vh;
    background: url('images/hero.jpg') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

/* .hero-text {
    background: rgba(0,0,0,0.5);
    padding: 30px;
    border-radius: 10px;
} */

.hero-text {
    background: rgba(0,0,0,0.5);
    padding: 30px;
    border-radius: 10px;
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #f77f00;
    color: white;
    cursor: pointer;
}

.destinasi {
    padding: 60px 10%;
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card:hover {
    transform: translateY(-10px);
}

.about {
    background: #003049;
    color: white;
    padding: 50px 10%;
    text-align: center;
}